.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.start-title {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.start-game-button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-game-button:hover {
    background-color: #218838;
}